body {
  background-color: whitesmoke;
}

#hit {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 50px;
}

#stand {
  position: absolute;
  top: 30px;
  left: 150px;
  width: 100px;
  height: 50px;
}